.thumbContainer {
    width: 100%;
    height: 65%;
    overflow: hidden;
    position: relative;
}

.thumbContainer img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s;
}

.thumbContainer:hover img {
    transform: rotate(-5deg) scale(1.15);
}